<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT certification ANY>
<!ATTLIST certification id ID #REQUIRED>
<!ELEMENT certifications ANY>
<!ATTLIST certifications id ID #REQUIRED>
<!ELEMENT activity ANY>
<!ATTLIST activity id ID #REQUIRED>
<!ELEMENT activities ANY>
<!ATTLIST activities id ID #REQUIRED>
<!ELEMENT experience ANY>
<!ATTLIST experience id ID #REQUIRED>
<!ELEMENT experiences ANY>
<!ATTLIST experiences id ID #REQUIRED>
<!ELEMENT education ANY>
<!ATTLIST education id ID #REQUIRED>
<!ELEMENT educations ANY>
<!ATTLIST educations id ID #REQUIRED>
<!ELEMENT interests ANY>
<!ATTLIST interests id ID #REQUIRED>
<!ELEMENT skills ANY>
<!ATTLIST skills id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT skill ANY>
<!ATTLIST skill id ID #REQUIRED>
<!ELEMENT interest ANY>
<!ATTLIST interest id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1062" key="67c45c11-adbd-43ba-a351-d42df912fc91" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-25T00:14:15" updateDate="2017-09-25T23:41:06" nodeName="Home Page" urlName="home-page" path="-1,1062" isDoc="" nodeType="1061" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="1060" nodeTypeAlias="homePage">
    <ngheNghiep><![CDATA[Lập trình viên]]></ngheNghiep>
    <hoVaTen><![CDATA[Cao Mạnh Quyền]]></hoVaTen>
    <anhUngVien><![CDATA[umb://media/7e48f3ff79ca410788ca7c285e8ea0d3]]></anhUngVien>
    <gioiTinh>19</gioiTinh>
    <noiO><![CDATA[Hoài Đức Hà Nội]]></noiO>
    <ngaySinh>1995-01-20T00:00:00</ngaySinh>
    <diaChiEmail><![CDATA[quyen.cm1995@gmail.com]]></diaChiEmail>
    <soDienThoai><![CDATA[0936358848]]></soDienThoai>
    <lienHe><![CDATA[https://www.facebook.com/quyen.cao.73]]></lienHe>
    <mucTieu><![CDATA[<p>Áp dụng những kinh nghiệm đã học và các kiến thức tự tìm hiểu thêm để tạo ra các web ứng dụng cho các doanh nghiệp, trường học...</p>
<p>Mong muốn được công ty đào tạo để có đủ khả năng tham gia các dự án và hoàn thành công việc được giao và mong muốn được công ty đào tạo để có đủ khả năng tham gia các dự án và hoàn thành công việc được giao.</p>]]></mucTieu>
    <skills id="1116" key="a8488b2d-465e-4627-9acb-7f2686abf49e" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2017-09-25T17:22:46" updateDate="2017-09-25T17:25:10" nodeName="Skills" urlName="skills" path="-1,1062,1116" isDoc="" nodeType="1115" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="1114" nodeTypeAlias="skills">
      <skill id="1118" key="24462810-5d8c-43e8-a88c-ebade2b037a7" parentID="1116" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T17:24:42" updateDate="2017-09-25T17:24:54" nodeName="Java" urlName="java" path="-1,1062,1116,1118" isDoc="" nodeType="1074" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="skill" isDraft="">
        <tenKiNang><![CDATA[Java]]></tenKiNang>
        <danhGia>5</danhGia>
      </skill>
      <skill id="1119" key="2a46a154-f378-4d8e-aa11-817387283690" parentID="1116" level="3" creatorID="0" sortOrder="1" createDate="2017-09-25T17:26:48" updateDate="2017-09-25T17:26:52" nodeName="PHP" urlName="php" path="-1,1062,1116,1119" isDoc="" nodeType="1074" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="skill">
        <tenKiNang><![CDATA[PHP]]></tenKiNang>
        <danhGia>6</danhGia>
      </skill>
      <skill id="1120" key="c20562c8-0cd9-4c3b-b19e-54a733df0702" parentID="1116" level="3" creatorID="0" sortOrder="2" createDate="2017-09-25T17:27:37" updateDate="2017-09-25T17:27:37" nodeName="Javascript" urlName="javascript" path="-1,1062,1116,1120" isDoc="" nodeType="1074" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="skill">
        <tenKiNang><![CDATA[Javascript]]></tenKiNang>
        <danhGia>7</danhGia>
      </skill>
    </skills>
    <interests id="1123" key="dbc779bf-8558-4601-9503-af71b5ca8c25" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2017-09-25T17:29:27" updateDate="2017-09-25T17:29:27" nodeName="Interests" urlName="interests" path="-1,1062,1123" isDoc="" nodeType="1122" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="1121" nodeTypeAlias="interests">
      <interest id="1124" key="7feaf823-154c-4dd4-bec9-9b2361ba37b2" parentID="1123" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T17:30:31" updateDate="2017-09-25T17:30:56" nodeName="Xem phim" urlName="xem-phim" path="-1,1062,1123,1124" isDoc="" nodeType="1087" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="interest">
        <soThich><![CDATA[Xem phim]]></soThich>
      </interest>
    </interests>
    <educations id="1133" key="31531db1-a793-4fe3-a9d7-8ed77397a6a3" parentID="1062" level="2" creatorID="0" sortOrder="2" createDate="2017-09-25T17:40:59" updateDate="2017-09-25T17:40:59" nodeName="Educations" urlName="educations" path="-1,1062,1133" isDoc="" nodeType="1132" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="1131" nodeTypeAlias="educations">
      <education id="1134" key="4ca89ca3-7009-4a6c-b3b5-946c1485899a" parentID="1133" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T17:42:41" updateDate="2017-09-25T17:53:17" nodeName="THPT" urlName="thpt" path="-1,1062,1133,1134" isDoc="" nodeType="1130" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="education">
        <thoiGianKetThuc>2013-05-14T00:00:00</thoiGianKetThuc>
        <truongHoc><![CDATA[THPT Nguyễn Tất Thành]]></truongHoc>
        <thoiGian>2010-09-15T00:00:00</thoiGian>
        <nganhHoc><![CDATA[Toán]]></nganhHoc>
      </education>
      <education id="1136" key="57597ec9-0479-4653-a421-7487f4df75f1" parentID="1133" level="3" creatorID="0" sortOrder="1" createDate="2017-09-25T17:55:53" updateDate="2017-09-25T17:55:53" nodeName="Đại học" urlName="đại-học" path="-1,1062,1133,1136" isDoc="" nodeType="1130" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="education" isDraft="">
        <truongHoc><![CDATA[ĐH Bách khoa]]></truongHoc>
        <thoiGian>2013-09-19T00:00:00</thoiGian>
        <nganhHoc><![CDATA[Công nghệ thông tin]]></nganhHoc>
      </education>
    </educations>
    <experiences id="1140" key="02d56106-bf0f-4318-901e-d072543c93bd" parentID="1062" level="2" creatorID="0" sortOrder="3" createDate="2017-09-25T18:25:21" updateDate="2017-09-25T18:25:21" nodeName="Experiences" urlName="experiences" path="-1,1062,1140" isDoc="" nodeType="1138" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="experiences">
      <experience id="1145" key="a4f6c358-c8cf-48a5-b456-b9d31a0acd80" parentID="1140" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T19:38:10" updateDate="2017-09-25T19:44:18" nodeName="Bkav" urlName="bkav" path="-1,1062,1140,1145" isDoc="" nodeType="1139" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="experience">
        <thoiGianBatDau>2017-02-09T00:00:00</thoiGianBatDau>
        <viTri><![CDATA[Thực tập viên]]></viTri>
        <congTy><![CDATA[Công ty Bkav]]></congTy>
        <thoiGianKetThuc>2017-06-01T00:00:00</thoiGianKetThuc>
        <chiTietVeKinhNghiem><![CDATA[Thực tập lập trình Web sử dụng ASP.net Web Form]]></chiTietVeKinhNghiem>
      </experience>
    </experiences>
    <activities id="1154" key="88a00f27-bbc8-4c1b-bfc1-b1c9dcd358ec" parentID="1062" level="2" creatorID="0" sortOrder="4" createDate="2017-09-25T19:47:50" updateDate="2017-09-25T19:47:50" nodeName="Activities" urlName="activities" path="-1,1062,1154" isDoc="" nodeType="1149" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="activities">
      <activity id="1155" key="3dc52efa-999a-4b68-979b-2aec9ddf2c77" parentID="1154" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T19:48:42" updateDate="2017-09-25T19:48:46" nodeName="BIG DATA SEMINAR" urlName="big-data-seminar" path="-1,1062,1154,1155" isDoc="" nodeType="1148" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="activity">
        <thoiGianKetThuc>2017-09-25T00:00:00</thoiGianKetThuc>
        <tenHoatDong><![CDATA[BIG DATA SEMINAR]]></tenHoatDong>
        <chiTiet><![CDATA[Listen three profesors discussing about big data in about a week]]></chiTiet>
        <thoiGianBatDau>2017-06-07T00:00:00</thoiGianBatDau>
      </activity>
    </activities>
    <certifications id="1164" key="22a345e7-bffd-4b2b-b4b6-4c5bdd4bba57" parentID="1062" level="2" creatorID="0" sortOrder="5" createDate="2017-09-25T22:32:59" updateDate="2017-09-25T22:32:59" nodeName="Certifications" urlName="certifications" path="-1,1062,1164" isDoc="" nodeType="1163" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="certifications">
      <certification id="1165" key="35275b0c-a43e-4541-a5dd-d0b501c7ee88" parentID="1164" level="3" creatorID="0" sortOrder="0" createDate="2017-09-25T22:34:51" updateDate="2017-09-25T22:34:51" nodeName="TOEIC" urlName="toeic" path="-1,1062,1164,1165" isDoc="" nodeType="1162" creatorName="Quyen Cao" writerName="Quyen Cao" writerID="0" template="0" nodeTypeAlias="certification">
        <loaiChungChi><![CDATA[Chứng chỉ TOEIC 500]]></loaiChungChi>
        <thoiGian>2015-06-10T00:00:00</thoiGian>
      </certification>
    </certifications>
  </homePage>
</root>